<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.website.WebsiteHiringMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.website.WebsiteHiring" >
    <id column="temp_website_hiring_web_hiring_id" property="webHiringId" jdbcType="VARCHAR" />
    <result column="temp_website_hiring_web_hiring_theme" property="webHiringTheme" jdbcType="VARCHAR" />
    <result column="temp_website_hiring_web_hiring_status" property="webHiringStatus" jdbcType="CHAR" />
    <result column="temp_website_hiring_accessory" property="accessory" jdbcType="VARCHAR" />
    <result column="temp_website_hiring_web_hiring_num" property="webHiringNum" jdbcType="INTEGER" />
    <result column="temp_website_hiring_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_website_hiring_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_website_hiring_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_website_hiring_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_website_hiring_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="temp_website_hiring_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_website_hiring_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.glacier.frame.entity.website.WebsiteHiring" extends="BaseResultMap" >
    <result column="temp_website_hiring_web_hiring_content" property="webHiringContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_website_hiring.web_hiring_id as temp_website_hiring_web_hiring_id, temp_website_hiring.web_hiring_theme as temp_website_hiring_web_hiring_theme, 
    temp_website_hiring.web_hiring_status as temp_website_hiring_web_hiring_status, temp_website_hiring.accessory as temp_website_hiring_accessory, 
    temp_website_hiring.web_hiring_num as temp_website_hiring_web_hiring_num, temp_website_hiring.remark as temp_website_hiring_remark, 
    temp_website_hiring.creater as temp_website_hiring_creater, temp_website_hiring.create_time as temp_website_hiring_create_time, 
    temp_website_hiring.updater as temp_website_hiring_updater, temp_website_hiring.update_time as temp_website_hiring_update_time
    <!-- 以下字段属于扩展 -->
    ,temp_creater.user_cn_name as temp_website_hiring_creater_display
    ,temp_updater.user_cn_name as temp_website_hiring_updater_display
  </sql>
  <sql id="Blob_Column_List" >
    temp_website_hiring.web_hiring_content as temp_website_hiring_web_hiring_content
  </sql>
  <sql id="Base_extend">
    LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_website_hiring.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_website_hiring.updater <!-- 扩展 -->
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.glacier.frame.entity.website.WebsiteHiringExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_website_hiring temp_website_hiring
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.website.WebsiteHiringExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_website_hiring temp_website_hiring
	<include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_website_hiring temp_website_hiring
	<include refid="Base_extend" />
    where temp_website_hiring.web_hiring_id = #{webHiringId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_website_hiring
    where web_hiring_id = #{webHiringId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.website.WebsiteHiringExample" >
    delete temp_website_hiring from t_website_hiring temp_website_hiring
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.website.WebsiteHiring" >
    insert into t_website_hiring (web_hiring_id, web_hiring_theme, web_hiring_status, 
      accessory, web_hiring_num, remark, 
      creater, create_time, updater, 
      update_time, web_hiring_content)
    values (#{webHiringId,jdbcType=VARCHAR}, #{webHiringTheme,jdbcType=VARCHAR}, #{webHiringStatus,jdbcType=CHAR}, 
      #{accessory,jdbcType=VARCHAR}, #{webHiringNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{webHiringContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.website.WebsiteHiring" >
    insert into t_website_hiring
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="webHiringId != null" >
        web_hiring_id,
      </if>
      <if test="webHiringTheme != null" >
        web_hiring_theme,
      </if>
      <if test="webHiringStatus != null" >
        web_hiring_status,
      </if>
      <if test="accessory != null" >
        accessory,
      </if>
      <if test="webHiringNum != null" >
        web_hiring_num,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="webHiringContent != null" >
        web_hiring_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="webHiringId != null" >
        #{webHiringId,jdbcType=VARCHAR},
      </if>
      <if test="webHiringTheme != null" >
        #{webHiringTheme,jdbcType=VARCHAR},
      </if>
      <if test="webHiringStatus != null" >
        #{webHiringStatus,jdbcType=CHAR},
      </if>
      <if test="accessory != null" >
        #{accessory,jdbcType=VARCHAR},
      </if>
      <if test="webHiringNum != null" >
        #{webHiringNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="webHiringContent != null" >
        #{webHiringContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.website.WebsiteHiringExample" resultType="java.lang.Integer" >
    select count(*) from t_website_hiring temp_website_hiring
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_website_hiring temp_website_hiring
    <set >
      <if test="record.webHiringId != null" >
        temp_website_hiring.web_hiring_id = #{record.webHiringId,jdbcType=VARCHAR},
      </if>
      <if test="record.webHiringTheme != null" >
        temp_website_hiring.web_hiring_theme = #{record.webHiringTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.webHiringStatus != null" >
        temp_website_hiring.web_hiring_status = #{record.webHiringStatus,jdbcType=CHAR},
      </if>
      <if test="record.accessory != null" >
        temp_website_hiring.accessory = #{record.accessory,jdbcType=VARCHAR},
      </if>
      <if test="record.webHiringNum != null" >
        temp_website_hiring.web_hiring_num = #{record.webHiringNum,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        temp_website_hiring.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_website_hiring.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_website_hiring.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_website_hiring.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_website_hiring.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.webHiringContent != null" >
        temp_website_hiring.web_hiring_content = #{record.webHiringContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_website_hiring temp_website_hiring
    set temp_website_hiring.web_hiring_id = #{record.webHiringId,jdbcType=VARCHAR},
      temp_website_hiring.web_hiring_theme = #{record.webHiringTheme,jdbcType=VARCHAR},
      temp_website_hiring.web_hiring_status = #{record.webHiringStatus,jdbcType=CHAR},
      temp_website_hiring.accessory = #{record.accessory,jdbcType=VARCHAR},
      temp_website_hiring.web_hiring_num = #{record.webHiringNum,jdbcType=INTEGER},
      temp_website_hiring.remark = #{record.remark,jdbcType=VARCHAR},
      temp_website_hiring.creater = #{record.creater,jdbcType=VARCHAR},
      temp_website_hiring.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_website_hiring.updater = #{record.updater,jdbcType=VARCHAR},
      temp_website_hiring.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      temp_website_hiring.web_hiring_content = #{record.webHiringContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_website_hiring temp_website_hiring
    set temp_website_hiring.web_hiring_id = #{record.webHiringId,jdbcType=VARCHAR},
      temp_website_hiring.web_hiring_theme = #{record.webHiringTheme,jdbcType=VARCHAR},
      temp_website_hiring.web_hiring_status = #{record.webHiringStatus,jdbcType=CHAR},
      temp_website_hiring.accessory = #{record.accessory,jdbcType=VARCHAR},
      temp_website_hiring.web_hiring_num = #{record.webHiringNum,jdbcType=INTEGER},
      temp_website_hiring.remark = #{record.remark,jdbcType=VARCHAR},
      temp_website_hiring.creater = #{record.creater,jdbcType=VARCHAR},
      temp_website_hiring.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_website_hiring.updater = #{record.updater,jdbcType=VARCHAR},
      temp_website_hiring.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.website.WebsiteHiring" >
    update t_website_hiring
    <set >
      <if test="webHiringTheme != null" >
        web_hiring_theme = #{webHiringTheme,jdbcType=VARCHAR},
      </if>
      <if test="webHiringStatus != null" >
        web_hiring_status = #{webHiringStatus,jdbcType=CHAR},
      </if>
      <if test="accessory != null" >
        accessory = #{accessory,jdbcType=VARCHAR},
      </if>
      <if test="webHiringNum != null" >
        web_hiring_num = #{webHiringNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="webHiringContent != null" >
        web_hiring_content = #{webHiringContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where web_hiring_id = #{webHiringId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.glacier.frame.entity.website.WebsiteHiring" >
    update t_website_hiring
    set web_hiring_theme = #{webHiringTheme,jdbcType=VARCHAR},
      web_hiring_status = #{webHiringStatus,jdbcType=CHAR},
      accessory = #{accessory,jdbcType=VARCHAR},
      web_hiring_num = #{webHiringNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      web_hiring_content = #{webHiringContent,jdbcType=LONGVARCHAR}
    where web_hiring_id = #{webHiringId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.website.WebsiteHiring" >
    update t_website_hiring
    set web_hiring_theme = #{webHiringTheme,jdbcType=VARCHAR},
      web_hiring_status = #{webHiringStatus,jdbcType=CHAR},
      accessory = #{accessory,jdbcType=VARCHAR},
      web_hiring_num = #{webHiringNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where web_hiring_id = #{webHiringId,jdbcType=VARCHAR}
  </update>
</mapper>