<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.basicdatas.ParameterCreditTypeMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.basicdatas.ParameterCreditType" >
    <id column="temp_parameter_credit_type_credit_type_id" property="creditTypeId" jdbcType="VARCHAR" />
    <result column="temp_parameter_credit_type_credit_type" property="creditType" jdbcType="VARCHAR" />
    <result column="temp_parameter_credit_type_change_type" property="changeType" jdbcType="CHAR" />
    <result column="temp_parameter_credit_type_change_value" property="changeValue" jdbcType="INTEGER" />
    <result column="temp_parameter_credit_type_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_parameter_credit_type_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_parameter_credit_type_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_parameter_credit_type_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_parameter_credit_type_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="temp_parameter_credit_type_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_parameter_credit_type_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_parameter_credit_type.credit_type_id as temp_parameter_credit_type_credit_type_id, 
    temp_parameter_credit_type.credit_type as temp_parameter_credit_type_credit_type, 
    temp_parameter_credit_type.change_type as temp_parameter_credit_type_change_type, 
    temp_parameter_credit_type.change_value as temp_parameter_credit_type_change_value, 
    temp_parameter_credit_type.remark as temp_parameter_credit_type_remark, temp_parameter_credit_type.creater as temp_parameter_credit_type_creater, 
    temp_parameter_credit_type.create_time as temp_parameter_credit_type_create_time, 
    temp_parameter_credit_type.updater as temp_parameter_credit_type_updater, temp_parameter_credit_type.update_time as temp_parameter_credit_type_update_time
    <!-- 以下字段属于扩展 -->
    ,temp_creater.user_cn_name as temp_parameter_credit_type_creater_display
    ,temp_updater.user_cn_name as temp_parameter_credit_type_updater_display
  </sql>
  <sql id="Base_extend">
    LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_parameter_credit_type.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_parameter_credit_type.updater <!-- 扩展 -->
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.basicdatas.ParameterCreditTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_parameter_credit_type temp_parameter_credit_type
    <include refid="Base_extend" /><!-- 扩展 -->
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_parameter_credit_type temp_parameter_credit_type
    <include refid="Base_extend" /><!-- 扩展 -->
    where temp_parameter_credit_type.credit_type_id = #{creditTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_parameter_credit_type
    where credit_type_id = #{creditTypeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.basicdatas.ParameterCreditTypeExample" ><!-- 扩展 delete 后面加上 temp_parameter_credit_type -->
    delete temp_parameter_credit_type from t_parameter_credit_type temp_parameter_credit_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.basicdatas.ParameterCreditType" >
    insert into t_parameter_credit_type (credit_type_id, credit_type, change_type, 
      change_value, remark, creater, 
      create_time, updater, update_time
      )
    values (#{creditTypeId,jdbcType=VARCHAR}, #{creditType,jdbcType=VARCHAR}, #{changeType,jdbcType=CHAR}, 
      #{changeValue,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.basicdatas.ParameterCreditType" >
    insert into t_parameter_credit_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="creditTypeId != null" >
        credit_type_id,
      </if>
      <if test="creditType != null" >
        credit_type,
      </if>
      <if test="changeType != null" >
        change_type,
      </if>
      <if test="changeValue != null" >
        change_value,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="creditTypeId != null" >
        #{creditTypeId,jdbcType=VARCHAR},
      </if>
      <if test="creditType != null" >
        #{creditType,jdbcType=VARCHAR},
      </if>
      <if test="changeType != null" >
        #{changeType,jdbcType=CHAR},
      </if>
      <if test="changeValue != null" >
        #{changeValue,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.basicdatas.ParameterCreditTypeExample" resultType="java.lang.Integer" >
    select count(*) from t_parameter_credit_type temp_parameter_credit_type
    <include refid="Base_extend" /><!-- 扩展 -->
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_parameter_credit_type temp_parameter_credit_type
    <set >
      <if test="record.creditTypeId != null" >
        temp_parameter_credit_type.credit_type_id = #{record.creditTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.creditType != null" >
        temp_parameter_credit_type.credit_type = #{record.creditType,jdbcType=VARCHAR},
      </if>
      <if test="record.changeType != null" >
        temp_parameter_credit_type.change_type = #{record.changeType,jdbcType=CHAR},
      </if>
      <if test="record.changeValue != null" >
        temp_parameter_credit_type.change_value = #{record.changeValue,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        temp_parameter_credit_type.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_parameter_credit_type.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_parameter_credit_type.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_parameter_credit_type.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_parameter_credit_type.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_parameter_credit_type temp_parameter_credit_type
    set temp_parameter_credit_type.credit_type_id = #{record.creditTypeId,jdbcType=VARCHAR},
      temp_parameter_credit_type.credit_type = #{record.creditType,jdbcType=VARCHAR},
      temp_parameter_credit_type.change_type = #{record.changeType,jdbcType=CHAR},
      temp_parameter_credit_type.change_value = #{record.changeValue,jdbcType=INTEGER},
      temp_parameter_credit_type.remark = #{record.remark,jdbcType=VARCHAR},
      temp_parameter_credit_type.creater = #{record.creater,jdbcType=VARCHAR},
      temp_parameter_credit_type.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_parameter_credit_type.updater = #{record.updater,jdbcType=VARCHAR},
      temp_parameter_credit_type.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.basicdatas.ParameterCreditType" >
    update t_parameter_credit_type
    <set >
      <if test="creditType != null" >
        credit_type = #{creditType,jdbcType=VARCHAR},
      </if>
      <if test="changeType != null" >
        change_type = #{changeType,jdbcType=CHAR},
      </if>
      <if test="changeValue != null" >
        change_value = #{changeValue,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where credit_type_id = #{creditTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.basicdatas.ParameterCreditType" >
    update t_parameter_credit_type
    set credit_type = #{creditType,jdbcType=VARCHAR},
      change_type = #{changeType,jdbcType=CHAR},
      change_value = #{changeValue,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where credit_type_id = #{creditTypeId,jdbcType=VARCHAR}
  </update>
</mapper>